html
{
	background-color: #5f98f4;
}
h1
{
	font-family: AR BLANCA, Sans-serif;
	font-size: 72;
	text-align: center;
}
input
{
	font-family: AR BLANCA, Sans-serif;
	font-size: 32;
	background-color: #5590ed;
	display: inline-block;
	margin-top: 0.25em;
}
#addIdeas
{
	text-align: center;
	padding: 2em;
}
#inner-wrapper
{
  animation: autoscroll 20s linear infinite;
}
@keyframes autoscroll {
  from { 
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-194%,0,0);
  }
}

#newsfeed
{
	height: 250px;
	line-height: 250px;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
	white-space: nowrap;
	margin-left: 1em;
	margin-right: 1em;
	vertical-align: center;
}


#newsfeed ul li
{
	position: auto;
	display: inline-block;
	width: 33%;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	text-align: center;
	cursor: pointer;
}